.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
renv/
renv.lock
.DS_Store
*.tar.gz
*.Rcheck/
/inst/doc
inst/doc
/doc/
/Meta/
*.knit.md
*.utf8.md
README.html
README_files/
vignettes/*.html
vignettes/*_files/

/.quarto/
